html, body {
    height: 100%;
}
.main {
    height: 70%;
    width: 100%;
    display: table;	
}
.wrapper {
    display: table-cell;
    height: 70%;
    vertical-align: middle;
}
.login-form-container{
	text-align: center;
}
input {
		border: none;
	width:200px;
	height: 28px;
	padding: 0;
	margin:8px;
	border-radius: 2px;
}
h5 {
	font-weight: normal;
}
.already-reg a{
	text-decoration: underline;
}
.login-btn {
	background-color: #5CB85C;
	color: White;
	font-weight: bold;
}