body {
	background: url('../images/sitblur.png');
/*	background-size: 100%;
	background-repeat: no-repeat;*/
	color:white;
	background-attachment: fixed;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0.5px 0.5px 2px #000000;
	}	
a {
	color:white;
	text-decoration: none;
}
button {
	border: none;
	background: none;
	background: #3498db;
	border-radius: 8px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	margin-top: 10px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}
.buttons-container {
	margin-top: 180px;
}
.navbar {
	position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
#header-link {
	text-decoration: none;
}
nav ul a:hover{
	color:#cfcdcd;
}
nav ul a:active{
	color:blue;
}
p {
	margin: 0px;
	padding: 0px;
}
#header-logo {
	float:left;
	margin: 10px;
}	
.navbar ul {
	text-align:right;
}
.navbar ul li {
	display:inline-block;
	margin:5px 10px 0px 10px;
}
.navbar ul div{	
	display:inline;
	margin: 10px 0px 0px 10px;
	
}
.navbar ul div .nav-dp-dropdown-btn {
	width:32px; 
	height:32px; 
	border-radius:50%;
	display: inline;
	float: right;
	margin-right: 4px;
}

.lead {
	margin: 10% 25%;
	width: 50%;
	text-align: center;
}
.lead-heading {
	font-size: 50px;
}
.lead-text {
	font-size: 25px;
	line-height: 1.4;
	margin-bottom: 10px;
	padding: 10px;
}
.lead-cta {
	border: none;
	background: none;
	background: #3498db;
	border-radius: 8px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}
.lead-cta:hover {
  background: #3cb0fd;
  text-decoration: none;
}
.upcoming-events {
	background:rgba(255,255,255,0.5);
	width: 350px;
	height: 250px;
	border-radius: 8px;
	margin-top: 100px;
	margin-left: 920px;
	text-align: center;
}
.announcements {
	background:rgba(255,255,255,0.5);
	width: 350px;
	height: 225px;
	border-radius: 8px;
	margin-top: 50px;
	margin-left: 920px;
	text-align: center;
}
.status {
	background:rgba(255,255,255,0.5);
	width: 500px;
	height:140px;
	border-radius: 8px;
	margin-left:50px;
	text-align: center;
	float: left;
}
.feeds {
	background:rgba(255,255,255,0.5);
	width: 500px;
	height:100px;
	border-radius: 8px;
	margin-left:50px;
	margin-top:50px;
	text-align: center;
	float: left;
}
.friend-suggestions {
	background:rgba(255,255,255,0.5);
	width: 320px;
	height:540px;
	border-radius: 8px;
	margin-left:10px;
	text-align: center;
	float: left;
}
.aboutsite {
	background:rgba(255,255,255,0.5);
	width: 1000px;
	height: 300px;
	border-radius: 8px;
	margin-top: 50px;
	margin-left: 150px;
	text-align: center;
}
.ss_button {
	border: none;
	background: none;
	background: #3498db;
	border-radius: 10px;
	font-family: Arial;
	font-size: 18px;
	color: #ffffff;
	padding: 8px;
	text-decoration: none;
}
.follow_button {
	border: none;
	background: none;
	background: #3498db;
	border-radius: 5px;
	font-family: Arial;
	font-size: 12px;
	color: #ffffff;
	padding: 6px;
	margin-top: 5px;
	text-decoration: none;
}
h3 {
	margin:10px;
}
table {
	width: 350px;
	height: 240	px;
	margin-top: 50px;
	float: center;	
	text-align: center;
}
.status-text-area {
	background:rgba(255,255,255,0.0);
	border:0px;
	margin: 15px;
	width: 460px;
	height: 60px;
	outline: 0;
	font-family: sans-serif;
	vertical-align: center;

   color:#3A3A3A;
   font-size: 18px;
}
.suggestions {
	margin: 5px;
	padding: 5px;
	display: block;
}
.suggestion-card {
	margin: 5px;
	padding: 5px;
	display: inline;
}
.suggestion-card img{
	width: 60px;
	height: 60px;
	margin-left: 10px;
	padding: 0px;
	float: left;

}
.suggestion-card h5{
	text-align: center;
	margin: 0px;
	padding: 0px;

}
.feeds img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin-left: 10px;
	margin-top: -40px;
	padding: 0px;
	float: left;
}
.feeds h3 {
	font-family: sans-serif;	
	text-align: right;
	font-style: italic;
	font-size: 15px;	
}
.feeds h5 {
	margin-top:-50px;
	margin-left: 70px;
	text-align: left;
}
.feeds p {
	font-family: sans-serif;
}
td {
	padding: 5px;
}

/*.upcoming-events>h3 {
	text-align: center;
}
.upcoming-events>h4 {
	display: inline;
	margin: 40px;
	text-decoration: underline;
}
.event-container>h5{
	display: inline;
	margin: 30px;
	padding-top:25px;
}

.att_header {
	text-align: right;
}
*/#footermsg {
	text-align: center;
	font-size: 15px;
}
.status-text-area::-webkit-input-placeholder {
   font-family: sans-serif;
   vertical-align: center;
   color:#737373;
   font-size: 18px;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.6s 0.6s ease; 
  opacity: 0;
}
.status-text-area:-moz-placeholder { /* Firefox 18- */
   font-family: sans-serif;
   vertical-align: center;
   color:#737373;
   font-size: 18px;
}

.status-text-area::-moz-placeholder {  /* Firefox 19+ */
   font-family: sans-serif;
   vertical-align: center;
   color:#737373;
   font-size: 18px;
}

.status-text-area:-ms-input-placeholder {  
    font-family: sans-serif;
   vertical-align: center;
   color:#737373;
   font-size: 18px;
}