html, body {

	text-align: center;
    height: 100%;
}
.main {
    height: 70%;
    width: 100%;
    display: table;	
}
.wrapper {
    display: table-cell;
    height: 70%;
    vertical-align: middle;
}
input,select {
	border: none;
	width:200px;
	height: 28px;
	padding: 0;
	margin:8px;
	border-radius: 2px;
}
div.updated-profile {
	background:rgba(255,255,255,0.3);
	width: 1000px;
	height: 500px;
	border-radius: 8px;
	margin-top: 40px;
	margin-left: 150px;
	text-align: center;	
}
div.dp img {
	width:100px;
	height: 100px;
	padding: 10px;
}
#eventDescription {
	margin-top: 100px;
}